.sideBarContainer {
	position: fixed;
	width: 100px;
	left: 0;
	top: 66px;
	bottom: 0;
	background-color: #253238;
	padding-top: 16px;
	height: calc(100vh - 66px);
	z-index: 99;
	margin: auto;
}

.sideBarWrapper {
	height: 300px;
}

.sideBarButton {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	color: #13c1ac;
	text-decoration: none;
	background-color: transparent;

	flex-direction: column;
}
.sideBarButton:hover,
.sideBarButton.active {
	background-color: rgb(245, 243, 243);
}
