.chat {
	height: 300px;
	display: flex;
	max-width: 1000px;
	margin: auto;
}

.chatMenu {
	flex: 3.5;
}

.chatMenuInput {
	width: 90%;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid grey;
}
.chatBox {
	flex: 5.5;
}

.chatBoxWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.chatBoxTop {
	height: 100%;
	overflow: scroll;
	padding-right: 10px;
}
.chatBoxBottom {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chatMessageInput {
	width: 80%;
	height: 40px;
	padding: 10px;
}
.chatSubmitButton {
	width: 70px;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #3f51b5;
	font-weight: 500;
	color: white;
}

.chatOnline {
	flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
	padding: 10px;
	/*background-color: blue;*/
	height: 300px;
}

.noConversationText {
	position: absolute;
	top: 20%;
	font-size: 50px;
	color: grey;
}

.conversation {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	margin-top: 10px;
}
.conversation:hover {
	background-color: rgb(245, 243, 243);
}

.conversationImg {
	margin-right: 10px;
}
.conversationName {
	font-weight: 500;
}

.message {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.messageImg {
	margin-top: 20px;
	margin-right: 10px;
}

.messageTop {
	display: flex;
}
.messageText {
	padding: 10px;
	border-radius: 20px;
	background-color: blueviolet;
	color: white;
	max-width: 300px;
}

.messageBottom {
	font-size: 12px;
}

.message.own {
	align-items: flex-end;
}

.message.own .messageText {
	background-color: lightgray;
	color: black;
}

/* CHATUSERONLINE */

.chatOnlineFriend {
	display: flex;
	align-items: center;
	font-weight: 500;
}

.chatUserOnlineImgContainer {
	position: relative;
}

.chatUserOnlineBadge {
	width: 10px;
	height: 10px;
	background-color: limegreen;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	right: 2px;
}
